.productsGrid {
    display   : flex;
    flex-wrap : wrap;
    gap       : 3em 1%;
    margin-top: 1em;
}

.categoryName {}

.categroryLoadMore {
    width: 100%;
    height: 5em;
}

.categoryDescription {
    font-size: 0.8em;
    line-height: 1.4em;
}