node_modules
temp
docs
.DS_Store
public_html/public/client.*.js
public_html/public/*.client.js
public_html/public/*.client.js.map
public_html/server/loadable-stats.json
public_html/server/server.js
public_html/server/*.server.js
public_html/server/*.server.js.map
.DS_Store
.shema.js
package-lock.json
