.featureTitle {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin-right   : 1em;
    width          : 3em;

    .label {
        text-transform: capitalize;
        font-size     : 0.7em;
        letter-spacing: 0.05em;
        margin-bottom : 0.2em;
        color         : #747474;
        font-weight   : 400;
    }

    .subtitle {
        font-weight   : 700;
        text-transform: uppercase;
        font-size     : 0.7em;
        letter-spacing: 0.05em;
        white-space   : normal;
    }
}

.featureColor {
    font-size: inherit;
}

.featureAttribs {
    display: flex;

    &.featureText {
        background-color: #f5f5f5;
        box-shadow      : inset 1px 1px 2px 0px rgb(0 0 0 / 5%);
        border-radius   : 30px;
        height          : 50px;
        width           : 100%;
        display         : flex;
        justify-content : space-between;
        position        : relative;
        padding         : 0 5px;
    }
}