.page_container {
    padding: 30px;

    &.multirow {
        display: flex;

        .sidebar_column {
            width       : 200px;
            min-width   : 200px;
            margin-right: 2em;

            .container {
                width      : inherit;
                will-change: position, top, bottom;
            }
        }
    }

    .main_column {
        width: 100%;
    }


}