.page_container {
    padding: 30px;

    &.multirow {
        display: flex;

        .left_column {
            width       : 200px;
            min-width   : 200px;
            margin-right: 2em;
        }
    }

    .main_column {
        width: 100%;
    }


}