.page_container {
    padding: 30px;

    &.multirow {
        display: flex;

        .left_column {
            width: 15%;
            padding-right: 2em;
        }

        .right_column {
            width: 85%;
        }
    }


}