.topSection {
    display: flex;

    .mainImageSection {
        position: relative;
        width   : 65%;

        .wishlistStickerContainer {
            font-size: 1.2em;
            top      : .2em;
            right    : .2em;
        }
    }

    .productMainData {
        width  : 35%;
        padding: 2em;
    }
}

.dividerSection {
    background-color: red;
}