$transitionTime : 0.2s;

.topSection {
    display: flex;

    .mainImageSection {
        position: relative;
        width   : 65%;

        .leftNavigationWithSale {
            position: absolute;
            left    : 1em;
            top     : 1em;
            z-index : 1;

            .backButton {
                background-color: #fff;
                display         : flex;
                box-shadow      : 1px 1px 5px -1px rgb(0 0 0 / 10%);
                padding         : 0.7em 0.9em;
                border-radius   : 0.4em;
                cursor          : pointer;

                .arrow {
                    width          : 1em;
                    display        : flex;
                    flex-direction : column;
                    flex-wrap      : nowrap;
                    justify-content: center;
                    align-items    : center;

                    svg {
                        transform         : rotate(90deg);
                        position          : relative;
                        left              : 0;
                        opacity           : 0.5;
                        -webkit-transition: opacity $transitionTime, left $transitionTime;
                        -moz-transition   : opacity $transitionTime, left $transitionTime;
                        -o-transition     : opacity $transitionTime, left $transitionTime;
                        transition        : opacity $transitionTime, left $transitionTime;
                    }
                }

                &:hover .arrow svg {
                    left   : -0.2em;
                    opacity: 1;
                }

                .textContener {
                    margin-left: 0.5em;

                    .label {
                        text-transform: uppercase;
                        font-size     : 0.5em;
                        letter-spacing: 0.1em;
                        font-weight   : 500;
                        color         : #848484;
                        margin-left   : 0.1em;
                    }

                    .category {
                        font-size  : 0.9em;
                        font-weight: 500;
                    }
                }
            }

            .saleBadge {
                position : relative;
                left     : auto;
                top      : 1em;
                font-size: 1.1em;
            }
        }

        .wishlistStickerContainer {
            font-size: 1.2em;
            top      : .2em;
            right    : .2em;
        }
    }

    .productMainData {
        width  : 35%;
        padding: 3em;
    }
}

.dividerSection {
    background-color: red;
}

.detailsSection {
    .detailRow {
        display       : flex;
        flex-direction: row;

        &.reverse {
            flex-direction: row-reverse;
        }

        .detailColumn {
            flex-basis: 50%;
        }

        .dataCointaner {
            padding        : 0 7%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

    }
}