$lightColor : #727272;

.productItemContainer {
    flex     : 1 1 30%;
    position : relative;
    max-width: 32.666666666666667%;
    overflow : hidden;

    &.disable {
        cursor: not-allowed;
    }

    .productDataContainer {
        display         : flex;
        justify-content : space-between;
        padding         : 0.7em;
        gap             : 3em;
        position        : relative;
        z-index         : 3;
        background-color: #fff;

        .titleContainer {
            font-size      : 0.85em;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            min-width      : 50%;

            .title {
                text-transform: uppercase;
                font-weight   : 600;
                letter-spacing: 0.03em;
            }

            .subtitle {
                margin-top    : 0.4em;
                font-size     : 0.8em;
                color         : $lightColor;
                letter-spacing: 0.02em;
                line-height   : 1.4em;
                margin-bottom : 0.5em;
            }
        }

        .priceContainer {
            word-break     : keep-all;
            white-space    : nowrap;
            text-align     : right;
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;

            .label {
                font-size    : 0.65em;
                margin-bottom: 0.3em;
                margin-top   : 0.2em;
                color        : $lightColor;
                font-weight  : 500;
            }
        }
    }

    a {
        display: block;
    }
}