.spinerContener {
    display        : flex;
    justify-content: center;

    .spinnerColumn {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        height         : 100%;

        .spinner {
            border-radius   : 50%;
            animation       : rotate 0.5s linear infinite;
        }

        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
    }
}