.contener {
    background-color: #da0e2b;
    padding         : 0.3em 0.5em;
    margin          : 0.4em 1em;
    display         : flex;
    align-items     : center;
    border-radius   : 0.4em;
    color           : #fff;
    font-size       : 0.5em;
    font-weight     : 500;
}