.fixedBar {
    position: sticky;
    top     : 0px;
    left    : 0px;
    width   : 100%;
    padding : 20px 0;
    z-index : 3;
    display : flex;
    gap     : 1em;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter        : saturate(180%) blur(20px);

    background: rgb(255,255,255);
    background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0.9) 52%, white 100%);
    // linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5984768907563025) 17%, rgba(255,255,255,0.6) 72%, rgba(255,255,255,1) 100%);

    // background-color           : rgba(255, 255, 255, 0.64);
    // transition                 : background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    // -webkit-transition         : background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    // -webkit-transition-property: background-color, -webkit-backdrop-filter;
    // transition-property        : background-color, -webkit-backdrop-filter;
    // transition-property        : background-color, backdrop-filter;
    // transition-property        : background-color, backdrop-filter, -webkit-backdrop-filter;

}