$hoverLinkColor   : #999;
$linkMarginPadding: 0.5em;
$transitionTime   : 0.2s;

.container {
    width: inherit;
    .side_list {
        list-style    : none;
        margin        : 0;
        padding       : 0;
        display       : flex;
        flex-direction: column;

        >li {
            margin-top    : $linkMarginPadding;
            border-bottom : 1px solid #f3f3f3;
            padding-bottom: $linkMarginPadding;

            &:last-child {
                border-bottom: none;
            }
        }

        .side_link_container {
            display: flex;
            padding: 10px 0px;
        }

        .side_label {
            position          : relative;
            cursor            : pointer;
            -webkit-transition: color $transitionTime;
            -moz-transition   : color $transitionTime;
            -o-transition     : color $transitionTime;
            transition        : color $transitionTime;

            &:hover {
                color: $hoverLinkColor;
            }

            &.bolder {
                font-weight: 600;
            }
        }

        .active {
            .side_label {
                font-weight: 700;

                &::after {
                    width           : 100% !important;
                    background-color: #f00;
                    height          : 2px;
                    display         : block;
                    content         : "";
                    position        : absolute;
                    bottom          : -4px;
                }
            }
        }

        .label_with_icon {
            display        : flex;
            justify-content: space-between;
            cursor         : pointer;

            .icon {
                width             : 1em;
                display           : flex;
                flex-direction    : column;
                justify-content   : center;
                -webkit-transition: transform $transitionTime;
                -moz-transition   : transform $transitionTime;
                -o-transition     : transform $transitionTime;
                transition        : transform $transitionTime;

                &.rotate {
                    transform: rotate(180deg);
                }
            }

            &:hover .side_label {
                color: $hoverLinkColor;
            }
        }

        .submenu {
            display   : none;
            margin-top: 1em;

            &.open_submenu {
                display: block;
            }

            ul {
                list-style  : none;
                padding-left: 1em;

                li {
                    margin-top    : $linkMarginPadding;
                    padding-bottom: $linkMarginPadding;
                }
            }
        }
    }
}