.side_list {
    list-style: none;
    margin: 0;
    padding: 0;
    .side_link_container {       
        display: block;
    }
    .side_label {
        padding: 10px;
    }
    .active {
        font-weight: 700;
        &::after {
            width: 100% !important;
            background-color: #f00;
            height: 2px;
            display: block;
            content: "";
        }
    }
}