.totalContener {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 0.5em;
    font-size      : 0.9em;
    font-weight    : 600;

    .label {
        display: flex;
        gap    : 0.4em;

        .totalLabel {
            display        : flex;
            flex-direction : column;
            justify-content: end;
        }

        .tax {
            font-size      : 0.7em;
            display        : flex;
            flex-direction : column;
            justify-content: end;
            padding-bottom : 0.1em;
            font-weight    : 400;
            letter-spacing : 0.2px;
            color          : #777;
        }
    }

    .price {
        font-weight: 600;
        font-size  : 1.1em;
    }
}

.saveMoneyCont {
    background-color: #d90c2b;
    color           : #fff;
    margin-left     : -1.5em;
    margin-right    : -1.5em;
    padding         : 0.5em 1.5em;
    margin-top      : -1em;
    margin-bottom   : 0.5em;
    display         : flex;
    justify-content : space-between;

    .label {
        font-size      : 0.9em;
        font-weight    : 600;
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }
}