.sliderContainer {
    width   : 100%;
    height  : 100%;
    position: relative;

    .slider {
        white-space               : nowrap;
        overflow-x                : scroll;
        overflow-y                : hidden;
        width                     : 100%;
        height                    : 100%;
        -webkit-overflow-scrolling: touch;
        position                  : relative;
        z-index                   : 0;

        .slide {
            width            : 30%;
            display          : inline-block;
            height           : 100%;
            position         : relative;
            scroll-snap-align: start;
            padding          : 0 0.5%;
        }
    }
}

@supports (scroll-snap-align: center) {
    .slider {
        scroll-snap-type: x mandatory;
    }

    .slide {
        scroll-snap-align   : center;
        // scroll-snap-stop : always;
    }
}

@supports not (scroll-snap-align: center) {
    .slider {
        -webkit-scroll-snap-type       : mandatory;
        scroll-snap-type               : mandatory;
        -webkit-scroll-snap-destination: 0% center;
        scroll-snap-destination        : 0% center;
        -webkit-scroll-snap-points-x   : repeat(100%);
        scroll-snap-points-x           : repeat(100%);
    }

    .slide {
        scroll-snap-coordinate: 0 0;
    }
}

/*
@supports not (scroll-snap-align: center) {
    #slider_mobile {
        -webkit-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-destination: 0% center;
        scroll-snap-destination: 0% center;
        -webkit-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    }
    #slider_mobile .slide_c {
        scroll-snap-coordinate: 0 0;
    }
    .slider_products {
        -webkit-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-destination: 0% center;
        scroll-snap-destination: 0% center;
        -webkit-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    }
    .slider_products .pr_sl_child {
        scroll-snap-coordinate: 0 0;
    }
}
*/