$transitionTime : 0.2s;

.container {
    font-size: 1em;
    padding  : 1em 0.7em;
    transform: translateY(0%);
    position : absolute;
    width    : 100%;
    z-index  : 2;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter        : saturate(180%) blur(20px);

    background: rgb(255,255,255);
    background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0.9) 52%, white 100%);

    // // background-color           : rgba(255, 255, 255, 0.64);
    // -webkit-transition         : background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    // transition                 : background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    // -webkit-transition-property: background-color, -webkit-backdrop-filter;
    // transition-property        : background-color, -webkit-backdrop-filter;
    // transition-property        : background-color, backdrop-filter;
    // transition-property        : background-color, backdrop-filter, -webkit-backdrop-filter;

    // // background-color: #fff;

    -webkit-transition: transform $transitionTime;
    -moz-transition   : transform $transitionTime;
    -o-transition     : transform $transitionTime;
    transition        : transform $transitionTime;

    &.active {
        transform: translateY(-99%);
    }
}