.imageSlider {
    width   : 100%;
    height  : 100%;
    position: relative;

    .sliderContainer {
        white-space               : nowrap;
        overflow-x                : scroll;
        overflow-y                : hidden;
        width                     : 100%;
        height                    : 100%;
        -webkit-overflow-scrolling: touch;
        position                  : relative;
        z-index                   : 0;

        .slide {
            width   : 50%;
            display : inline-block;
            height  : 100%;
            position: relative;


            &.slideStart {
                scroll-snap-align: start;
            }

            .imageContainer {
                // display        : flex;
                // justify-content: center;
                // height: 100%;
                // float : left;
                // width : 100%;
                text-align: center;
                height    : 100%;
                float     : left;
                width     : 100%;

                &.addSpace {
                    padding: 0 15%;

                    // height : 100%;
                }

                .productImage {
                    display        : flex;
                    flex-direction : column;
                    justify-content: center;
                    height         : 100%;



                    img {
                        width    : 100%;
                        // height: 100%;
                        // float: left;
                    }
                }
            }
        }
    }
}

@supports (scroll-snap-align: center) {
    .sliderContainer {
        scroll-snap-type: x mandatory;
    }

    .slideStart {
        scroll-snap-align   : center;
        // scroll-snap-stop : always;
    }
}

@supports not (scroll-snap-align: center) {
    .sliderContainer {
        -webkit-scroll-snap-type       : mandatory;
        scroll-snap-type               : mandatory;
        -webkit-scroll-snap-destination: 0% center;
        scroll-snap-destination        : 0% center;
        -webkit-scroll-snap-points-x   : repeat(100%);
        scroll-snap-points-x           : repeat(100%);
    }

    .slideStart {
        scroll-snap-coordinate: 0 0;
    }
}