.mainHolder {
    .digits {
        display        : flex;
        flex-direction : row;
        justify-content: center;

        .digit {
            font-size  : 1.8em;
            font-weight: 300;
            text-align : center;
            width      : 0.6em;
        }
    }

    .label {
        font-size : 0.7em;
        text-align: center;
        opacity   : 0.5;
    }
}