.mainHolder {
    .digits {
        display        : flex;
        flex-direction : row;
        justify-content: center;

        .digit {
            font-size  : 2.5em;
            font-weight: 300;
            text-align : center;
            width      : 0.6em;
        }
    }

    .label {
        font-size : 0.7em;
        text-align: center;
        color     : #7a7a7a;
    }
}