.featureRootContainer {
    display              : block;
    // float             : right;
    // margin            : 20px;
    // width             : 400px;
    opacity              : 1;
    -webkit-transition   : opacity 0.2s;
    -moz-transition      : opacity 0.2s;
    -o-transition        : opacity 0.2s;
    transition           : opacity 0.2s;

    &.inline {
        float          : none;
        width          : 100%;
        margin         : auto;
        display        : flex;
        justify-content: space-around;
        font-size      : 0.8em;
        min-height     : 2.7em;

        .featureContainer {
            margin: 0;
        }
    }

    &.productInline {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        margin-bottom  : 2em;

        .featureContainer {
            min-height: 3em;

            &.fullWidth {
                width: 100%;
            }
        }
    }

    &.halfvisible {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .featureContainer {
        display: flex;
        margin : 20px 0;

        // &.featureColor {
        //     color: inherit
        // } 

        // &.featureText {
        //     color: inherit;       
        // }
        // &.featureList {
        //     color: inherit
        // }   
    }
}