.featureRootContainer {
    display           : block;
    float             : right;
    margin            : 20px;
    width             : 400px;
    opacity           : 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition   : opacity 0.2s;
    -o-transition     : opacity 0.2s;
    transition        : opacity 0.2s;

    &.inline {
        float          : none;
        width          : 100%;
        margin         : auto;
        display        : flex;
        justify-content: space-around;
        font-size      : 0.8em;

        .featureContainer {
            margin: 0;
        }
    }

    &.halfvisible {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .featureContainer {
        display: flex;
        margin : 20px;

        // &.featureColor {
        //     color: inherit
        // } 

        // &.featureText {
        //     color: inherit;       
        // }
        // &.featureList {
        //     color: inherit
        // }   
    }
}