$transitionTime : 0.2s;

.addToWishContainer {
    position          : absolute;
    padding           : 0.7em;
    right             : 0;
    top               : 0;
    width             : 3.1em;
    z-index           : 1;
    opacity           : 0.4;
    cursor            : pointer;
    -webkit-transition: opacity $transitionTime;
    -moz-transition   : opacity $transitionTime;
    -o-transition     : opacity $transitionTime;
    transition        : opacity $transitionTime;

    &:hover {
        opacity: 1;
    }

    .iconContainer {
        width             : 1.2em;
        height            : 1.2em;
        margin            : auto;
        position          : relative;
        margin-bottom     : 0.2em;
        // -webkit-transition: width $transitionTime;
        // -moz-transition   : width $transitionTime;
        // -o-transition     : width $transitionTime;
        // transition        : width $transitionTime;

        svg {
            z-index : 1;
            position: relative;
        }
    }

    .counter {
        font-size : 0.7em;
        text-align: center;
    }

    &.visualMode {
        opacity: 1;

        .iconContainer {
            // background-color: #fff;
            width        : 1em;
            height       : 1em;
            margin-bottom: 0.5em;

            .iconBg {
                background-color: #fff;
                position        : absolute;
                left            : -0.36em;
                top             : -0.4em;
                width           : 1.7em;
                height          : 1.7em;
                z-index         : 0;
                border-radius   : 4em;
                box-shadow      : 1px 1px 4px -1px rgb(0 0 0 / 20%);
            }
        }


        .counter {
            color           : #fff;
            background-color: #000000;
        }
    }
}